//colors
$color-primary: #3E9CDC;
$color-white: #fff;
$color-black: #000;
$color-dark: #2A2B30;
$color-gray: #3D4050;
$color-text-input:#272733;
$color-light-gray: #C3C3C3;
$color-border-blue: #286690;