.order-placement {
    background: url("../images/bg.png") no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;

    @media screen and (min-width:648px) {
        padding-top: 120px;
        padding-bottom: 152px;
    }
}